# Copy ke /etc/mihomo-autopilot/github.env di router OpenWrt
# chmod 600 /etc/mihomo-autopilot/github.env

GITHUB_REPO='username/repo'
GITHUB_BRANCH='main'
GITHUB_TOKEN=''
ROUTER_NAME='openwrt-home'

MIHOMO_API='http://127.0.0.1:9090'
MIHOMO_SECRET='reyre'
OPENCLASH_CONFIG_DIR='/etc/openclash/config'
CONFIG_NAME='openclash_auto.yaml'

# Opsional:
# GITHUB_RAW_BASE='https://raw.githubusercontent.com/username/repo/main'
# MIHOMO_BIN='/etc/openclash/core/clash_meta'
# RESTART_OPENCLASH='1'
# ROLLBACK_ON_FAIL='1'

# Fresh Candidate Pool - GitHub menyiapkan config cadangan sebelum node mati total
FRESH_CONFIG_NAME='openclash_fresh_pool.yaml'
FRESH_FAIL_THRESHOLD='6'
FRESH_PULL_COOLDOWN_SECONDS='900'
FRESH_TRIGGER_REBUILD='1'
